// out: ../style/main.css, sourcemap: false, compress: true
.local_webuntis {
    &.landingedit {
        .courseimage {
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
    }
    &.landinguser {
        .card {
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            display: inline-block;
            margin: 5px;
            padding: 15px;
            text-align: center;
            width: 200px;

            i.fa {
                font-size: 150px;
            }
        }
    }
}
