{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_webuntis/landingedit

    This template allows users to enable/disable target courses for a webuntis lesson.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * canconfig
    * canproceed
    * courses
    * wwwroot

    Example context (json):
    {
        "canconfig": 1,
        "canproceed": 1,
        "courses": [
            {
                "courseimage": "http://moodle-url.org/the-image-url",
                "fullname": 'fullname of course',
                "id": 123,
                "is_selected": 1,
                "shortname": 'shortname of course',
            },
        ],
        "wwwroot": 'https://www.xy.z'
    }
}}

<div class="local_webuntis landingedit">
    <div class="fitem row">
        <p class="col-md-6">
            {{#str}} selectcourse_for_target, local_webuntis {{/str}}:<br />
            <i class="fa fa-filter"></i>
            <input type="text" id="filter-{{uniqid}}" placeholder="{{#str}} search {{/str}}" />
        </p>
        <p class="col-md-2">
        {{^uses_eduvidual}}
            {{#canconfig}}
            <a href="{{wwwroot}}/local/webuntis/landingusermaps.php"
                class="btn btn-primary btn-block">
                <i class="fa fa-users"></i>
                {{#str}} admin:usermaps:pagetitle, local_webuntis {{/str}}
            </a>
            {{/canconfig}}
        {{/uses_eduvidual}}
        </p>
        <p class="col-md-2">
            {{#canconfig}}
            <a href="{{wwwroot}}/local/webuntis/landingadmin.php"
                class="btn btn-primary btn-block">
                <i class="fa fa-gears"></i>
                {{#str}} settings {{/str}}
            </a>
            {{/canconfig}}
        </p>
        <p class="col-md-2">
            <a href="{{wwwroot}}/local/webuntis/landing.php"
                id="proceed-{{uniqid}}" class="btn btn-primary btn-block {{^canproceed}} disabled {{/canproceed}}">
                <i class="fa fa-check"></i>
                {{#str}} proceed, local_webuntis {{/str}}
            </a>
        </p>
    </div>

    <div style="height: 500px; overflow-x: auto;">
        <table id="table-{{uniqid}}" class="generaltable">
        {{#courses}}
            <tr height="50">
                <td class="trigger" width="30">
                    <a href="#" id="trigger_{{uniqid}}_{{id}}" onclick="require(['local_webuntis/main'], function(M) { M.selectTarget('{{uniqid}}', {{id}}); }); return false;">
                    {{#is_selected}}
                        <i class="fa fa-icon fa-toggle-on" style="font-size: 18px;"></i>
                    {{/is_selected}}
                    {{^is_selected}}
                        <i class="fa fa-icon fa-toggle-off" style="font-size: 18px;"></i>
                    {{/is_selected}}
                    </a>
                </td>
                <td width="50" class="courseimage" style="background: url({{{courseimage}}});">
                </td>
                <td>
                    {{{fullname}}}
                </td>
            </tr>
        {{/courses}}
        </table>
    </div>
</div>

{{#js}}
    $('#filter-{{uniqid}}').on("keyup", function() {
        var filter = $(this).val().toLowerCase();
        $('#table-{{uniqid}} tr').filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(filter) > -1);
        });
    });
{{/js}}
