{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_webuntis/landingeduvidual

    Manage eduvidual-specific settings.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * actions
    * wwwroot

    Example context (json):
    {
        "actions": [
            [
                "isheader": 1,
                "label": "eduvidual specific features",
                "orgs": [
                    ...
                ]
            ],
        ]
        "wwwroot":
    }
}}

<div class="local_webuntis landingeduvidual">
    <h3>{{#str}} eduvidual:settings, local_webuntis {{/str}}</h3>
    <table class="generaltable">
        {{#actions}}
            {{#isheader}}
            <tr>
                <th>{{label}}</th>
                {{#orgs}}
                    <th>{{name}}</th>
                {{/orgs}}
            </tr>
            {{/isheader}}
            {{^isheader}}
            <tr>
                <td>{{label}}</td>
                {{#orgs}}
                    <td width="150" style="text-align: center;">
                        <a href="#" id="feature-{{uniqid}}-{{orgid}}-{{field}}"
                            onclick="require(['local_webuntis/eduvidual'], function(E) { E.setFeature('{{uniqid}}', {{orgid}}, '{{field}}'); }); return false;">
                            <i class="fa fa-toggle-{{#enabled}}on{{/enabled}}{{^enabled}}off{{/enabled}}"></i>
                        </a>
                    </td>
                {{/orgs}}
            </tr>
            {{/isheader}}
        {{/actions}}
    </table>
</div>
