{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_webuntis/landinguser

    This is the landing page for mapping user accounts.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * cancreatenew
    * canmapcurrent
    * canuseother
    * enoughdata
    * userfullname
    * usermap
    * wwwroot

    Example context (json):
    {
        "cancreatenew": 0,
        "canmapcurrent": 1,
        "canuseother": 1,
        "enoughdata": 0,
        "userfullname": 'Demo User',
        "usermap": {
            "tenant_id": 1300,
            "school": 'School',
            "remoteuserid": 'asdf-jklö-1234',
            "userid": 0,
            ...
        }
        "wwwroot": 'http://www.xy.z',
    }
}}

<div class="local_webuntis landinguser">
    <p>
        {{#str}} landinguser:select_option, local_webuntis {{/str}}:<br />
    </p>

    <div style="display: flex;">
        {{#canmapnew}}
            {{#enoughdata}}
            <div class="card">
                <a href="{{wwwroot}}/local/webuntis/landinguser.php?confirmed=1">
                    <i class="fa fa-user-plus"></i><br />
                    {{#str}} landinguser:mapnew, local_webuntis {{/str}}
                </a>
            </div>
            {{/enoughdata}}
            {{^enoughdata}}
            <div class="card disabled" style="opacity: 0.5;">
                <a>
                    <i class="fa fa-user-plus"></i><br />
                    {{#str}} landinguser:mapnew, local_webuntis {{/str}}
                </a>
            </div>
            {{/enoughdata}}
        {{/canmapnew}}
        {{#canmapcurrent}}
        <div class="card">
            <a href="{{wwwroot}}/local/webuntis/landinguser.php?confirmed=2">
                <i class="fa fa-user-circle"></i><br />
                {{#str}} landinguser:mapcurrent, local_webuntis, { "fullname":  {{#quote}}{{userfullname}}{{/quote}} } {{/str}}
            </a>
        </div>
        {{/canmapcurrent}}
        {{#canmapother}}
        <div class="card">
            <a href="{{wwwroot}}/local/webuntis/landinguser.php?confirmed=3">
                <i class="fa fa-users"></i><br />
                {{#str}} landinguser:mapother, local_webuntis {{/str}}
            </a>
        </div>
        {{/canmapother}}
    </div>
    {{#canmapnew}}{{^enoughdata}}
    <br />
    <div class="alert alert-danger">
        {{#str}} landinguser:mapnew:notenoughdata:text, local_webuntis {{/str}}<br />
        <details>
            <summary>
                {{#str}} landinguser:mapnew:notenoughdata:showdetails, local_webuntis {{/str}}<br />
            </summary>
            {{#usermap}}
            <table class="generaltable" style="width: auto; min-width: 500px;">
                <tr>
                    <th width="200">{{#str}} username {{/str}}</th>
                    <td>{{username}}</td>
                </tr>
                <tr>
                    <th>{{#str}} firstname {{/str}}</th>
                    <td>{{firstname}}</td>
                </tr>
                <tr>
                    <th>{{#str}} lastname {{/str}}</th>
                    <td>{{lastname}}</td>
                </tr>
                <tr>
                    <th>{{#str}} email {{/str}}</th>
                    <td>{{email}}</td>
                </tr>

            </table>
            {{/usermap}}
        </details>
    </div>
    {{/enoughdata}}{{/canmapnew}}
</div>
