{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_webuntis/tenants

    Manage known tenants.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * tenants

    Example context (json):
    {
        "tenants": [
            {
                "tenant_id": 1300,
                "school": 'xyz',
                ...
            },
            ...
        ],
    }
}}

<div class="local_webuntis tenants">
    <form method="post" action="" enctype="multipart/form-data">
    <table class="generaltable" id="tab-{{uniqid}}">
        <thead>
            <tr>
                <td>TenantID</td>
                <td>School</td>
                <td>Host</td>
                <td>OIDC-Client</td>
                <td>OIDC-Secret</td>
                <td>Password S2S</td>
                <td>Autocreate</td>
            </tr>
        </thead>
        <tbody>
            {{#tenants}}
            <tr data-tenant_id="{{tenant_id}}">
                <td><input data-field="tenant_id" value="{{tenant_id}}" type="text" data-compare="{{tenant_id}}"
                    onblur="var inp = this; require(['local_webuntis/main'], function(M) { M.tenantData(inp); });">
                </td>
                <td>
                    <input data-field="school" value="{{school}}" type="text" data-compare="{{school}}"
                        onblur="var inp = this; require(['local_webuntis/main'], function(M) { M.tenantData(inp); });">
                </td>
                <td>
                    <input data-field="host" value="{{host}}" type="text" data-compare="{{host}}"
                        onblur="var inp = this; require(['local_webuntis/main'], function(M) { M.tenantData(inp); });">
                </td>
                <td>
                    <input data-field="client" value="{{client}}" type="text" data-compare="{{client}}"
                        onblur="var inp = this; require(['local_webuntis/main'], function(M) { M.tenantData(inp); });">
                </td>
                <td>
                    <input data-field="consumersecret" value="{{consumersecret}}" type="text" data-compare="{{consumersecret}}"
                        onblur="var inp = this; require(['local_webuntis/main'], function(M) { M.tenantData(inp); });">
                </td>
                <td>
                    <input data-field="consumerpassword" value="{{consumerpassword}}" type="text" data-compare="{{consumerpassword}}"
                        onblur="var inp = this; require(['local_webuntis/main'], function(M) { M.tenantData(inp); });">
                </td>
                <td>
                    {{#autocreate}}
                        {{#str}} enabled, admin {{/str}}
                    {{/autocreate}}
                    {{^autocreate}}
                        {{#str}} disabled, admin {{/str}}
                    {{/autocreate}}
                </td>
            </tr>
            {{/tenants}}
            {{#item}}
            <tr>
                <td {{#missing_tenant_id}} class="alert-danger" {{/missing_tenant_id}}>
                    <input name="tenant_id" type="text" value="{{#tenant_id}}{{tenant_id}}{{/tenant_id}}" placeholder="tenant_id" />
                </td>
                <td {{#missing_school}} class="alert-danger" {{/missing_school}}>
                    <input name="school" type="text" value="{{school}}" placeholder="school" />
                </td>
                <td {{#missing_host}} class="alert-danger" {{/missing_host}}>
                    <input name="host" type="text" value="{{host}}" placeholder="host" />
                </td>
                <td {{#missing_client}} class="alert-danger" {{/missing_client}}>
                    <input name="client" type="text" value="{{client}}" placeholder="client" />
                </td>
                <td {{#missing_consumersecret}} class="alert-danger" {{/missing_consumersecret}}>
                    <input name="consumersecret" type="text" value="{{consumersecret}}" placeholder="consumersecret" />
                </td>
                <td {{#missing_consumerpassword}} class="alert-danger" {{/missing_consumerpassword}}>
                    <input name="consumerpassword" type="text" value="{{consumerpassword}}" placeholder="consumerpassword" />
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="{{#str}} create {{/str}}" />
                </td>
            </tr>
            {{/item}}
        </tbody>
    </table>
    </form>
</div>
